body{
	background-image: url("../images/prettyPattern.gif");
	background-repeat: repeat;
}

h1{
	font-family: verdana, sans-serif;
	font-size: 50px;
	background-color: rgb(230,230,190);
	text-align: center;
}
h2{
	font-family: "times new roman", serif;
	font-size: 30px;
	font-style: italic;
	text-transform: lowercase;
	background-color: #FF0000;
	letter-spacing: 5px;	
}
ul li{
	word-spacing: 5px;
}
p{
	font-weight: 900;
}
a:hover{
	color: red;
	text-decoration: none;
	text-transform: uppercase;
	background-color: rgb(255,255,150);
}
b{
	color: blue;
}